<style>


        body{
            background-color: #88882f;
            font-size: 20px;
            background-image:image(.responsiv);
        }

        h1{
            font-family: serif;
            font-style:italic;
            font-size: xx-large;
        }

        p{
            font-size: large;
            forced-color-adjust:auto;
            color: brown;
            background-color: none;
        }


        a {
            color: rgb(5, 26, 10);
            text-decoration:none;
            font: size large;
            padding: none;
        }

        a:hover{
            color: aqua;
            text-decoration: none;
            font-family: serif;
        }



@media (min-width:750px){
    .responsiv{
        display: inline-block;
        width: 400px;
        border: solid;
        left: 200px; 
    }
}


#extra {
    font-family: serif;
    font-style: none;
    margin-left: auto;
}
footer {
    position:fixed;
    left:0;
    bottom:0;
    width: 100%;
    background-color: hwb(161 9% 47%);
    text-align:center;
    text-decoration: none;
    

    }

ul {
    list-style: none;
    -ms-text-underline-position: auto;
    text-underline-position: none;
    text-decoration-line: none;
  }
       
    </style>